#gcf-design .gcf-header-block {
	display: none;
  // background: $blue; 
  // filter: none; 
}

#gcf-design { 
  height: auto; 
  width: 100%;
  background: $blue; 
  filter: none; 
}

.gcf-item-header-block {
    font-size: 4em;
}